/* Variables
/* ---------------------------------------------------------- */

:root {
  /* Colours */
  --color-primary: #2f8fd1;
  --color-base: #181818;
  --color-border: #e2e2e2;
  --color-bg: #fafaf9;
  --color-secondary: #ababab;

  /* Fonts */
  --font-sans-serif:
    "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #5fc1f0;
    --color-base: #e2e2e2;
    --color-border: #4a4a4a;
    --color-bg: #161616;
    --color-secondary: #888;
  }
}
